$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
@import 'sass-bootstrap/lib/bootstrap';
@import 'compass/css3';
@import 'compass/css3/font-face';
@import 'bower-bourbon/bourbon';

@include font-face(SourceSansProRegular, '../assets/fonts/SourceSansPro-Regular');
$padding: 18px;
$color1:#333333;
$color2:#FFFFFF;


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    
}

/* Space out content a bit */

html, body { 
	height: 100%; 
}


body {
  	font-family: "SourceSansProRegular";
	font-size:20px;
	color:$color1;
	@include background(linear-gradient(#db0028, #931d00) left repeat);
}

a {
	color:#FFFFFF;
}

.header {
	padding:$padding;
}
div#menuadd {
	padding:$padding;
	color:$color2;
	position:fixed;
	height:10%;
	width:100%;
	bottom:0px;
	@include background(linear-gradient(#020000, #3C3D42) left repeat);
}








